header {
  background-color: #333;
  padding: 0.05rem;
}

.nav-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  flex-direction: row;
}

.nav-header > a {
  font-weight: bolder;
  font-size: large;
}

.nav-header ul a,
.nav-header a,
.nav-header ul {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  list-style-type: none;
}

.nav-header ul a:hover {
  
  color: #bde7fc;
  text-decoration: underline;
}

.nav-header ul button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  background: transparent;
  border: none;
}

.nav-header ul button:hover {
  cursor: pointer;
  color: aqua;
}
