.login-container {
  background: linear-gradient(135deg, #0d0d0d, #3a3a3a);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  padding: 40px;
  width: 21em;
  text-align: center;
  transition: transform 0.3s ease;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 14px;
  transition: background-color 0.3s ease, border 0.3s ease;
}

input::placeholder {
  color: #888888;
}

input:focus {
  background-color: #3a3a3a;
  outline: none;
  border: 1px solid #00bfff;
}

.inputs-forms {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.icon-forms {
  width: 12%;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.toggle-password {
  position: absolute;
  height: 100%;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-password svg path {
  fill: #b5b5b5;
}

.toggle-button {
  background: none;
  color: aliceblue;
  border: none;
  cursor: pointer;
  margin: 7px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #00bfff;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0099cc;
  transform: scale(1.05);
}

button[type="submit"]:active {
  background-color: #0077b3;
  transform: scale(0.95);
}

.toggle-button {
  margin-top: 15px;
}

.toggle-button:hover {
  color: #bde7fc;
  text-decoration: underline;
}

.error {
  color: #ff4d4d;
  margin-top: 10px;
  font-size: 12px;
}
